/web/sites/*/settings.local.php
/web/sites/*/services*.yml
!/web/sites/*/services.yml

/web/sites/*/files
/web/sites/*/private
/web/sites/default/settings.php
/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/private/scripts/quicksilver

/vendor/

/.editorconfig
/.gitattributes

/.drush-lock-update

/web/**/.gitignore

node_modules/
